
<div class="overlay">
  <div class="overlay-content">


    <div class="wrapper-login fadeInDown">

      <div id="formContent">

        <div class="d-flex justify-content-end">
          <button
            (click)="hideLoginPanel()"
            class="btn btn-danger">X</button>
        </div>

        <!-- Tabs Titles -->

        <div *ngIf="showLoginErrors"
          class="alert alert-danger" >{{loginErrors}}</div>
        <!-- Login Form -->

        <div *ngIf="showLoginForm">

          <form #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)">

            <input type="email"  class="styled fadeIn second mt-3"
              name="email" [(ngModel)]="email" placeholder="login" required>

            <input type="password" class=" styled fadeIn third"
              name="password" [(ngModel)]="password"
              placeholder="password" required>

            <button type="submit" class="bigBlueBtn fadeIn fourth"
              [disabled]="!loginForm.form.valid">Log In</button>

          </form>

          <div class="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <br>
            <span (click)="handleClickShowRegisterForm()"
              class="underlineHover" >Register</span>

          </div>

        </div>


        <div *ngIf="showRegisterForm">
          <form #registerForm="ngForm"
            (ngSubmit)="onSubmitRegister(registerForm)">

            <input type="text" class="styled fadeIn second mt-3"
              name="userName" [(ngModel)]="userName"
              placeholder="user name" required>

            <input type='email' class="styled fadeIn second mt-3"
              name="email" [(ngModel)]="email" placeholder="email" required>

            <input type="password" class=" styled fadeIn third"
              name="password" [(ngModel)]="password"
              placeholder="password" required>

            <button type="submit" class="bigBlueBtn fadeIn fourth"
              [disabled]="!registerForm.form.valid">register</button>

          </form>
          <div class="formFooter">
            <span
              (click)="handleClickShowLoginForm()"
              class="underlineHover" >login</span>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>






