<div  class="container mb-5">

    <div id="content" class="row">
        <div class="col-auto mr-auto">
            <h1>Vehicles and owners</h1>
        </div>
        
        <!-- Default checked -->
        <div class="custom-control custom-switch switch-position col-auto" >
            <input type="checkbox" class="custom-control-input" id="customSwitch1" (change)="onCheckBoxChange()">
            <label class="custom-control-label" for="customSwitch1">switch to nigth mode</label>
        </div>
    </div>

    

<!-- <app-vehicles></app-vehicles> -->
<router-outlet></router-outlet>
</div>