

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">

      <h2 class="card-title">
        <i class="fas fa-car"></i> {{elem.brand}}
      </h2>

      <a *ngIf="userCanAccess" (click)="delete(elem.id)" class="btn btn-danger ">
        <i class="fas fa-window-close"></i>
      </a>

    </div>
    <img
    routerLink="/vehicle-details/{{elem.id}}"
    class="img-fluid img-rounded cursor-poiner"
    [src]="elem.imageData"
    alt="">


    <p class="card-text mt-2">
      <i class="fad fa-badge-dollar"></i> Price: {{elem.price| currency }}<br>
      <i class="fas fa-barcode"></i> UniqueNumber: {{elem.uniqueNumber}}<br>
      <i class="fas fa-fill-drip"></i> Color: {{elem.color}}<br>
      <i class="fas fa-cogs"></i> Engine: {{elem.carEngine}}<br>
      <i class="fas fa-hourglass-end"></i> Date: {{elem.date | date}}<br>
      <i class="fas fa-tachometer-alt"></i> Drive: {{elem.drive}}<br>
      <i class="fad fa-tire"></i> Transmisstion: {{elem.transmision}}<br>
    </p>

    <p class="card-text">{{elem.description}}</p>

    <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/vehicle-details/{{elem.id}}">Details</a>

      <a *ngIf="userCanAccess" (click)="editCar(elem)" class="btn btn-warning">Update</a>

    </div>


  </div>
</div>
