

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">

      <h2 class="card-title">
        <i class="fas fa-car"></i> {{vehicle.brand}}
      </h2>

      <div>
        <span *ngIf="vehicle.forSale" class="badge bg-success p-3">For Sale</span>
        <span *ngIf="!vehicle.forSale" class="badge bg-light text-dark p-3">Info</span>
        <a *ngIf="userCanAccess && isUserAllowedForAction"
          (click)="delete(vehicle.id)"
          class="btn btn-danger ">
          <i class="fas fa-window-close"></i>
        </a>
      </div>


    </div>
    <img
    routerLink="/vehicle-details/{{vehicle.id}}"
    class="img-fluid img-rounded cursor-poiner"
    [src]="vehicle.imageData"
    alt="">


    <p class="card-text mt-2">
      <i class="fad fa-badge-dollar"></i> Price: {{vehicle.price| currency }}<br>
      <i class="fas fa-barcode"></i> UniqueNumber: {{vehicle.uniqueNumber}}<br>
      <i class="fas fa-fill-drip"></i> Color: {{vehicle.color}}<br>
      <i class="fas fa-cogs"></i> Engine: {{vehicle.carEngine}}<br>
      <i class="fas fa-hourglass-end"></i> Date: {{vehicle.date | date}}<br>
      <i class="fas fa-tachometer-alt"></i> Drive: {{vehicle.drive}}<br>
      <i class="fad fa-tire"></i> Transmisstion: {{vehicle.transmision}}<br>
    </p>

    <p class="card-text">{{vehicle.description}}</p>

    <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/vehicle-details/{{vehicle.id}}">Details</a>

      <a
        *ngIf="userCanAccess && isUserAllowedForAction"
        (click)="editCar(vehicle)"
        class="btn btn-warning">Update</a>

    </div>


  </div>
</div>
