<div class="row m-5 p-2 ">

  <div class="col-md-4 col-sm-10 parent-height">
    <img
    routerLink="/vehicle-details/{{vehicle.id}}"
    class="img-fluid img-rounded cursor-poiner"
    [src]="vehicle.imageData"
    alt="">
  </div>

  <div class="col-md-8 col-sm-10 d-flex flex-column justify-content-between">

    <div class="cursor-poiner">

      <div class="d-flex justify-content-between align-items-center">

        <h2 class="underline"
          routerLink="/vehicle-details/{{vehicle.id}}">
          <i class="fas fa-car"></i> {{vehicle.brand}}
        </h2>

        <a *ngIf="userCanAccess && isUserAllowedForAction"
          (click)="delete(vehicle.id)" class="btn btn-danger ">
          <i class="fas fa-window-close"></i>
        </a>

      </div>


      <div class="vehicle-info-panel">

        <div class="main-info">
          <div class="">
            <h2>Price</h2>
            <p>{{vehicle.price| currency }}</p>
          </div>
          <div class="">
            <h2>UniqueNumber</h2>
            <p>{{vehicle.uniqueNumber}}</p>
          </div>
        </div>

        <div class="additional-info">
          <div class="">
            <h2>Color</h2>
            <p>{{vehicle.color}}</p>
          </div>
          <div class="">
            <h2>Engine</h2>
            <p>{{vehicle.carEngine}}</p>
          </div>

          <div class="">
            <h2>Drive</h2>
            <p>{{vehicle.drive}}</p>
          </div>
          <div class="">
            <h2>Transmisstion</h2>
            <p>{{vehicle.transmision}}</p>
          </div>
        </div>


      </div>

    </div>


    <div class="d-flex justify-content-between align-items-center">

      <div class="text-muted ">
        <p>{{vehicle.date | date}}</p>
      </div>

      <div>
        <a *ngIf="userCanAccess && isUserAllowedForAction"
          (click)="editCar(vehicle)" class="btn btn-warning">Update</a>
      </div>
      <!-- <p>User is allowed {{isUserAllowedForAction}}</p> -->

    </div>


  </div>


</div>



